---
layout: default
---

{% for page in paginator.posts %}
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div><strong>If you don't read anything else, check out:</strong></div>
      <ul>
        <li><a href="/2019/08/08/how-we-paid-off-our-mortgage/">How We Paid Off Our Mortgage</a> <em>(for the finance nerd)</em></li>
        <li><a href="/2019/07/26/life-with-a-twist-of-lemon-the-first-year/">Life with a Twist of Lemon - The First Year</a> <em>(for the person with nothing to do)</em></li>
        <li><a href="/2019/02/28/react-pouchdb-components/">React PouchDB Components</a> <em>(for the programmer)</em></li>
        <li><a href="/2019/07/06/my-favorite-marvel-movies/">My Favorite Marvel Movies</a> <em>(for the pop culture nerd)</em></li>
      </ul>

      <hr>
    </div>
  </div>
  {% include post.html %}
  <div class="spacer"></div>
{% endfor %}


{% if paginator.total_pages > 1 %}
<nav class="text-center">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      </li>
    {% else %}
      <li>
        <span>&laquo; Prev</span>
      </li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="active"><a>{{ page }}</a></li>
      {% elsif page == 1 %}
        <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      </li>
    {% else %}
      <li>
        <span>Next &raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
