---
layout: default
---
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2>{{ title }}</h2>

    <hr>

    <article class="post-content">
      {{ content }}
    </article>

    <hr>
  </div>
</div>
