/* override bootstrap styles */
.navbar-form input, .form-inline input {
	width:auto;
}

body {
	padding-top:50px;
	color:#646464;
	background-color:#efefef;
}

h1,h2,h3,h4,.highlight,.navbar a,#masthead h4 {
	font-family:'Oswald',arial narrow,sans-serif;
	font-display: fallback;
}

.highlight code {
	font-family: "Source Code Pro", "Monaco", "Courier New", "monospaced";
	font-display: swap;
}

footer {
	margin-top:40px;
	padding-top:40px;
	padding-bottom:40px;
	background-color:#cecece;

}

footer a:link, footer a:active, footer a:visited {
	color: rgb(100, 100, 100);
}

	
#masthead {
	min-height:199px;
	background-color:#000044;
	color:#aaaacc;
	
	.lead {
			margin-top: 7px;
	}

	.byline {
		font-size: 16px;
	}
 
	h1 {
		font-size: 55px;
		line-height: 1;
		color:#fefeff;
		margin-top:50px;
	}
}

#topPanel {
	padding-top:0px;
	padding-left:22px;
	padding-right:22px;

	.panel-body {
		padding-top:0px;
	}
}

.navbar.affix {
	position:fixed;
	top:0;
	width:100%;
}

.top-spacer {
	margin-top: 35px;
	background-color:#ffffff;
	height:40px;
}

.spacer {
	height: 40px;
	min-height: 40px;
}

a,a:hover {
	color:#111166;
}

h2 a, h2 a:hover {
	color:#223344;
	text-decoration: none;
}

.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 80px;
	}
}

.navbar-bright {
	background-color:#111166;
	color:#fff;
	margin-bottom: 0;
	border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
	color:#ccccdd;
	font-size:14px;
	text-transform: uppercase;
	letter-spacing:.08em;
}

.navbar-bright li > a:hover {
	background-color:#000044;
}

.dropdown-menu {
	min-width: 250px;
}

.caret {
	color:#fff;
}

.navbar-toggle {
	color:#fff;
	border-width:0;
}

.navbar-toggle:hover {
	background-color:#fff;
}

.panel {
	border-color:transparent;
	border-radius:0;
}

.thumbnail {
	margin-bottom:8px;
}

.img-container {
	overflow:hidden;
	height:170px;

	img {
		min-width:280px;
		min-height:180px;
		max-width:380px;
		max-height:280px;
	}
}

.txt-container {
	overflow:hidden;
	height:100px;
}

.panel .lead {
	overflow:hidden;
	height:90px;
}

.label-float{
	margin:0 auto;
	position: absolute;
	top: 0;
	z-index: 1;
	width:100%;
	opacity:.9;
	padding:6px;
	color:#fff;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
	.post-date {
		text-align: right;
	}
}